* text=auto eol=lf

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.mako text eol=lf
Makefile text eol=lf

*.parquet binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
